body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a {
  color: #00B7FF;
}

@media all and (min-width: 1024px) {
  #brand {
      padding-left:15px;
  }
}

#form-row {
  margin-bottom:0px;
}

#input-container-row{
  margin-bottom:0px;
}

.flex-display{
  display:flex;
  justify-content:center
}
