extends layout

block content
    main.container

        section.section
            .row
                .col.s12.m12.l12.xl12
                    h2.text-center About
                    p.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum maiores quas assumenda hic fugiat molestias quod vel! Cumque, magnam? Veritatis doloribus perspiciatis beatae nobis laborum!